<app-vi-slider id="fashion-slider" *ngIf="slider.items" [images]="slider.items"></app-vi-slider>
<app-fashion-presentation></app-fashion-presentation>
<app-fashion-projects id="fashion-projects"></app-fashion-projects>
<app-fashion-services-session id="fashion-services-session"></app-fashion-services-session>
<app-fashion-discover-style id="fashion-discover-style"></app-fashion-discover-style>
<app-fashion-testimonials id="fashion-testimonials"></app-fashion-testimonials>
<app-vi-call-to-action type='fashion' id="fashion-call-to-action"></app-vi-call-to-action>
<app-vi-footer type='neutral'></app-vi-footer>