<app-vi-slider id="fashion-slider" *ngIf="slider.items" [images]="slider.items"></app-vi-slider>
<app-fashion-presentation></app-fashion-presentation>
<app-vi-projects id="fashion-projects" title="PORTFÓLIO"></app-vi-projects>
<app-fashion-services-session id="fashion-services-session"></app-fashion-services-session>
<!-- <app-fashion-discover-style [hidden]="true" id="fashion-discover-style"></app-fashion-discover-style> -->
<app-vi-prize-session id="fashion-prize-session"></app-vi-prize-session>
<app-fashion-testimonials id="fashion-testimonials"></app-fashion-testimonials>
<app-vi-call-to-action type='fashion' id="fashion-call-to-action"></app-vi-call-to-action>
<app-vi-footer></app-vi-footer>