<div class="modal-email__header">
    <div class="content-logo">
        <img src="../../../../assets//imgs/logo-casa-horizontal.png" class="logo-vies" alt="">
    </div>
    <app-vi-svg (click)="closeModal()" icon="icon-close"></app-vi-svg>
</div>

<form class="modal-email__body" id="emailForm" method="post" action="">
    <div class="modal-email__body__content-1 margin-top-2">
        <div class="full-width">
            <span class="text">Digite seu nome:</span>
            <input 
                id="name_input"
                [(ngModel)]="name" 
                [ngModelOptions]="{standalone: true}"
                class="input-default-house"
                type="text">
        </div>
    </div>
    <div class="modal-email__body__content-2">
        <div class="name-input-container margin-top-2">
            <span class="text">Digite seu email:</span>
            <input 
                class="input-default-house"
                [(ngModel)]="email" 
                [ngModelOptions]="{standalone: true}"
                type="text" 
                placeholder="Ex: seuemail@email.com">
        </div>
        <div class="margin-top-2">
            <span class="text">Digite seu telefone</span>
            <input  
                mask="(00) 00000-0000"
                class="input-default-house"
                [(ngModel)]="phone" 
                [ngModelOptions]="{standalone: true}"
                placeholder="(31) 99999-9999"
                type="text">
        </div>
    </div>

    <div class="full-width margin-top-2">
      <span class="text">Digite sua mensagem</span>
      <textarea
          rows="5"
          [(ngModel)]="message"
          [ngModelOptions]="{standalone: true}"
          class="input-default-house">
      </textarea>
    </div>

    <div class="btns-container margin-top-2">
        <app-vi-button [type]="'danger'" (onClick)="closeModal()" class="desktop" >
            <span class="text text--white">Cancelar</span>
        </app-vi-button>
        <app-vi-button [type]="'green'" [submit]="true" (onClick)="sendEmail()">
            <span class="text text--white">Enviar</span>
        </app-vi-button>
    </div>

</form>