@import '../../../styles.scss';

.navigation-header {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    .left-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon {
            font-size: 24px;
            color: $color-white;
        }
    }
}

.green {
    color: $color-green;
}

.purple {
    color: $color-purple;
}

.gradient {
    background-image: linear-gradient(to right, $color-green , $color-purple);
}

.transclude-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }