<div class="navigation-header" (click)="goBack()">
  <div class="left-container">
    <app-vi-svg [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" icon="icon-arrow-left2" class="icon"></app-vi-svg>
    <span [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--large unselectable margin-left-1"> 
      {{title}} 
    </span>
  </div>
  <div class="transclude-content">
    <ng-content></ng-content>
  </div>
</div>
