@font-face {
    font-family: 'Century-Gothic';
    src: url(src/assets/fonts/Century-Gothic.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Disco';
    src: url(src/assets/fonts/Disco.ttf) format("truetype");
    font-style: normal;
}