@import "../../../styles.scss";

.vi-projects {
    position: relative;
    width: 100%;
    overflow: hidden;

    &__display {
        overflow: hidden;
        display: flex;
        transition: all 0.6s ease-in;
    }

    &__item {
        width:  calc(100vw);
        box-sizing: border-box;
        overflow: hidden;
        display: grid;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
        padding: 0 1.5em;
        padding-bottom: 2em;

        &__container {
            flex-grow: 1;
            height: 100%;
            min-width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            cursor: pointer;
            display: grid;
            grid-template-rows: 1fr 1em;
            grid-template-columns: 1fr;

            img {
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                -o-object-fit: contain;
                object-fit: contain;
                grid-column: 1/2;
                grid-row: 1/3;
                min-width: 100%;
                max-width: calc(25vw - 3em);
            }

            &:hover {
                .description {
                    opacity: 1;
                    display: flex;
                    width: 100%;

                    &__content {
                        display: flex;
                        align-items: center;
                        background-color: rgba($color: $color-white, $alpha: 1);
                        padding: 0.6em 0.3em;
                        opacity: 1;
                        width: 100%;
                        justify-content: center;
                        justify-content: space-between;
                        flex-direction: row;
                    }
                }
            }

            .description {
                grid-column: 1/2;
                grid-row: 2/3;
                opacity: 0;
                width: 100%;
                align-items: flex-end;
                justify-content: center;
                display: flex;
            }
        }
    }

    app-vi-svg {
        font-size: 1.5em;
    }

    .btns-container {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        top: calc(50% - 4.3em);
        padding: 0 0.5em;
        justify-content: space-between;
    }

    .vi-projects-label {
        width: 100%;
        margin-top: -1em;
        display: flex;
        padding: 0em 0 1.5em 0;
        justify-content: center;
        align-items: center;

        &__content {
            background-color: $color-white;
            border-radius: 35px;
            padding: 1em;
            margin: 0 1em;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.vi-projects-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.vi-projects-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    .tab-content {
        padding: 0.5em 0 !important;
        flex-grow: 1;
        max-width: 150px;
        margin: 0 0.4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #efefef;
        outline: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: transparent;
        &:hover {
            background-color: rgba($color: #7f7f7f, $alpha: 0.2);
        }

        &:focus {
            background-color: rgba($color: #7f7f7f, $alpha: 0.1);
        }

        span {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
        }

        &--selected {
            border-bottom: 4px solid;
        }
    }
}

.green {
    color: $color-green;
}
.purple {
    color: $color-purple;
}

@media only screen and (max-width: 1300px) {
    .vi-projects__display {
        transition: all 0.3s ease-in;
    }

    .vi-projects__item {
        width: 100vw;
        display: grid;
        overflow: hidden;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5em;

        img {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            max-width: calc(50% - 1em) !important;
            object-fit: contain;
        }
    }

    .description {
        opacity: 1 !important;
        background-color: #fff !important;
    }
}
