@import "../../../styles.scss";

.white {
  background-color: $color-white;

  &:focus {
    background-color: $color-white-2;
  }
}

.green {
  background-color: $color-green;

  &:focus {
    background-color: $color-green-2;
  }
}

.danger {
  background-color: $color-danger;

  &:focus {
    background-color: $color-danger-2;
  }
}

.wide {
  width: 100%;
}

.button {
  box-shadow: 0.2px 3px 2px 0 rgba(0, 0, 0, 0.15);
  width: calc(100% - 1.6em);
  border: 1px solid #efefef;

  cursor: pointer;
  border-radius: 20px;
  padding: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;

  &:hover {
    box-shadow: 0.4px 5px 4px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0.2px 3px 2px 0 rgba(0, 0, 0, 0.15);
  }

  &::after {
    transition: all .6s;
  }
}

button {
  &:focus {
    outline: none;
    border-radius: 20px;
  }
}
