@import "../../../styles.scss";

.white {
  background-color: $color-white;

}

.button {
  box-shadow: 0.2px 3px 2px 0 rgba(0, 0, 0, 0.15);

  cursor: pointer;
  border-radius: 20px;
  padding: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0.4px 5px 4px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0.2px 3px 2px 0 rgba(0, 0, 0, 0.15);
  }

  &::after {
    transition: all .6s;
  }
}
