@import '../../../styles.scss';

.menu {
    width: 100vw;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
}

.background {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: visible;
}

.menu-content {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    animation: menu 0.3s ease-in;
    background-color: $color-white;
    box-shadow: 0.4px 5px 4px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    overflow-x: hidden;
}

.button-menu {
    z-index: 3;
    position: absolute;
    bottom: 1em;
    right: 1em;
    pointer-events: visible;
    height: 3.2em;
    width: 3.2em;
    background-color: $color-green;
    box-shadow: 0.4px 5px 4px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    app-vi-svg {
        font-size: 25px;
        color: $color-white;
    }
}