<div class="menu">
    <div class="background mobile" (click)="closeMenu()" *ngIf="menu.menuOpened" (swipeleft)="toggleMenu()">

    </div>

    <div class="menu-content" id="menu-content">
        <div class="itens-container">
            <div class="menu-content__item clickable" *ngFor="let item of menu.items"
                (click)="onClickMenu(item.routeName)">
                <div *ngIf="!item.logo" class="text-container">
                    <span [ngClass]="{'text--green': menu.type === 'house', 'text--purple': menu.type === 'fashion'}"
                        class="text text--small unselectable"> {{item.name}} </span>
                </div>
                <div class="logo clickable" *ngIf="item.logo" (click)="changeVies('main')">
                    <img class="logo--img" [src]="getMainLogo()">
                </div>
                <div class="menu-content__sub"
                    [ngClass]="{'menu-content__sub--green': menu.type === 'house', 'menu-content__sub--purple': menu.type === 'fashion'}">
                    <div class="menu-content__sub__item clickable" *ngFor="let subItem of item.subItems">
                        <span class="text text--white text--small unselectable">{{subItem.name}}</span>
                    </div>
                </div>
            </div>

            <app-vi-button *ngIf="menu.type === 'house'" type='green' class="margin-1"
                (onClick)="onClickMenu('contato')">
                <span class="text text--white">Quero um orçamento</span>
            </app-vi-button>

            <app-vi-button *ngIf="menu.type === 'fashion'" type='purple' class="margin-1"
                (onClick)="onClickMenu('contato')">
                <span class="text text--white">Quero um orçamento</span>
            </app-vi-button>

            <app-vi-button *ngIf="menu.type === 'fashion'" type='green' class="margin-1"
                (onClick)="changeVies('secondary')">
                <span class="text text--white">Projeto Residencial</span>
            </app-vi-button>

            <app-vi-button *ngIf="menu.type === 'house'" type='purple' class="margin-1"
                (onClick)="changeVies('secondary')">
                <span class="text text--white">Projeto Comercial</span>
            </app-vi-button>
        </div>
        <div class="social-container">
            <span [ngClass]="{'text--green': menu.type === 'house', 'text--purple': menu.type === 'fashion'}"
                class="text text--small unselectable margin-bottom-2"> Acompanhe nossas redes sociais: </span>
            <div class="menu-content__social">
                <div (click)="social.clickEvent()" class="menu-content__social__item clickable"
                    *ngFor="let social of menu.socials">
                    <app-vi-svg icon="{{social.name}}"
                        [ngClass]="{'icon--green': menu.type === 'house', 'icon--purple': menu.type === 'fashion'}">
                    </app-vi-svg>
                </div>
            </div>
        </div>

    </div>

    <app-vi-button class="button-menu" [type]='typeColor' [round]="true" (onClick)="toggleMenu()">
        <app-vi-svg  icon="icon-menu1"></app-vi-svg>
    </app-vi-button>
</div>