@import "../../../styles.scss";

.menu {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  pointer-events: none;
}

.background {
  z-index: 3;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: visible;
}

.menu-content {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    animation: menu 0.3s ease-in;
    background-color: $color-white;
    box-shadow: 0.4px 5px 4px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: visible;

    .itens-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8em;
        vertical-align: center;
        border-bottom: 1px solid #efefef;

        .text-container {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .social-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__social {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;

        &__item {
            padding: 0.8em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .icon {
        &--green {
            &::before{
                color: $color-green;
            }
            color: $color-green;
        }

        &--purple {
            &::before{
                color: $color-purple;
            }
            color: $color-purple;
        }
    }

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        &--img {
            max-height: 1.8em;
        }
    }
}

.button-menu {
  z-index: 3;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  pointer-events: visible;
  background-color: $color-green;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  app-vi-svg {
    font-size: 35px;
    color: $color-white;
    display: flex;
  }
}
