<div class="vi-footer" [ngClass]="{'vi-footer--green': header.type === 'house', 'vi-footer--purple': header.type === 'fashion'}">
    
    <div class="top-container">
        <div class="content margin-bottom-3">
            <span class="text text--bold text--white">Atendemos onde você estiver!</span>
            <span class="text text--white">Projeto e consultoria online e presencial</span>
    
            <span class="text text--bold text--white margin-top-2">FALE COM A GENTE</span>
            <div class="flex-center">
                <app-vi-svg icon="icon-phone" class="text--white margin-right-1"></app-vi-svg>
                <span class="text text--white">(31) 3054-7975</span>
            </div>
            <div class="flex-center">
                <app-vi-svg icon="icon-whatsapp" class="text--white margin-right-1"></app-vi-svg>
                <span class="text text--white">(31) 99155-7975</span>
            </div>
            <div class="flex-center">
                <app-vi-svg icon="icon-envelop" class="text--white margin-right-1"></app-vi-svg>
                <span class="text text--white">vies@viesdesign.com.br</span>
            </div>
        </div>
    
        <div class="content margin-bottom-3">
            <h1 class="text text--bold text--white">Receba dicas e novidades sobre casa e decoração!</h1>
            <div class="send margin-top-2">
                <input 
                    [(ngModel)]="client.Email" 
                    [ngModelOptions]="{standalone: true}"
                    class="input-default-white"
                    placeholder="seuemail@email.com"
                    type="text">
                <app-vi-button wide='true' [type]="'white'" [submit]="true" (onClick)="sendEmail()">
                    <span [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text">Enviar</span>
                </app-vi-button>
            </div>
        </div>
    </div>

    <div class="bottom-container desktop">
        <span class="text text--white vies">Viés Design - Belo Horizonte-MG | Brasil</span>

        <div class="icons">
            <span class="text text--white">Acompanhe nossas redes sociais: </span>
            <div class="social-icon clickable" (click)="social.clickEvent()" *ngFor="let social of socials">
                <app-vi-svg icon="{{social.name}}"></app-vi-svg>
            </div>
        </div>
    </div>

    <div class="bottom-container bottom-mobile mobile">
        <div class="icons">
            <div class="social-icon clickable" *ngFor="let social of socials" (click)="social.clickEvent()">
                <app-vi-svg icon="{{social.name}}"></app-vi-svg>
            </div>
        </div>

        <span class="text text--white vies desktop">Viés Design - Belo Horizonte-MG | Brasil</span>
        <span class="text text--white vies mobile">Viés Design - BH-MG</span>
    </div>
</div>