.text {
  font-family: Century-Gothic;
  font-size: 1.1rem !important;
  color: #7f7f7f;

  &--disco {
    font-family: Disco !important;
  }

  &--small {
    font-size: 0.9rem !important;
  }

  &--small-2 {
    font-size: 0.7rem !important;
  }

  &--large {
    font-size: 1.4rem !important;
  }

  &--large-2 {
    font-size: 1.6rem !important;
  }

  &--large-3 {
    font-size: 1.8rem !important;
  }

  &--purple {
    color: #5E6298;
  }

  &--green {
    color: #3A9096;
  }

  &--normal {
    color: #7f7f7f;
  }

  &--intermediate {
    color: #4D90A3;
  }

  &--white {
    color: #FFF;
  }

  &--bold {
    font-weight: bold;
  }

  &--thin {
    font-weight: 400;
  }

  &--centered {
    text-align: center;
  }

  &--start {
    text-align: start;
  }

  &--italic {
    font-style: italic;
  }

  &--underline {
    text-decoration: underline;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}