.text {
  font-family: Roboto;
  font-size: 1rem !important;
  color: #7f7f7f;

  &--small {
    font-size: 0.8rem !important;
  }

  &--small-2 {
    font-size: 0.6rem !important;
  }

  &--large {
    font-size: 1.3rem !important;
  }

  &--large-2 {
    font-size: 1.7rem !important;
  }

  &--purple {
    color: #5E6298;
  }

  &--green {
    color: #3A9096;
  }

  &--normal {
    color: #7f7f7f;
  }

  &--intermediate {
    color: #4D90A3;
  }

  &--white {
    color: #FFF;
  }

  &--bold {
    font-weight: 600;
  }

  &--centered {
    text-align: center;
  }

  &--start {
    text-align: start;
  }

  &--italic {
    font-style: italic;
  }
}

