$color-white: #fff;
$color-white-2: #efefef;
$color-black: #000;
$color-bg-1: #F3F3F5;
$color-purple: #5E6298;
$color-danger: #ffc156;
$color-danger-2: #ffa30f;
$color-green: #3A9096;
$color-green-2: #33797c;
$color-intermediate: #4D90A3;
$color-normal: #7f7f7f;
