<main class="screen-content">
    <app-vi-header class="desktop"></app-vi-header>
    <app-vi-navigation-header [title]="'Voltar'" type='neutral' (onGoBack)="goBackToInitial()" class="mobile"></app-vi-navigation-header>
    
    <div class="content">
        <div class="content--internal">
            <h1 [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--large-2 text--centered margin-top-3">MOSTRA DE DECORAÇÃO</h1>
            <h2 [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--large text--centered margin-top-2">Morar Mais por Menos - 2018 em Belo Horizonte | MG</h2>
        
            <div class="images-container">
                <div class="prize-card" [ngClass]="{'prize-card--green': header.type === 'house', 'prize-card--purple': header.type === 'fashion'}" *ngFor="let headerImage of headerImages">
                    <img [defaultImage]="'./assets/imgs/placeholder.png'" [lazyLoad]="headerImage.image" alt="">
                    <div class="labels flex-center">
                        <h3 [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--centered" [innerHTML]="headerImage.label" ></h3>
                    </div>
                </div>
            </div>
        
            <div class="label-container text--centered">
                <span class="text text--large">Na era das influenciadoras digitais, apresentamos um quarto inspirado nas </span>
                <span [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--bold text--large">necessidades de uma blogueira. </span>
                <span class="text text--large">Moderno e funcional, o quarto da blogueira cumpre a função de </span>
                <span [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--bold text--large">dormitório, escritório e espaço para fotos. </span>
                <span class="text text--large">A paleta de cores cria mosaicos e a criatividade dá </span>
                <span [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--bold text--large">novas funções para itens da moda. </span>
            </div>
        
            <h2 [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--large-2 text--centered margin-top-3 margin-bottom-2">FOTOS</h2>
            <div class="images-container">
                <div class="prize-card clickable" [ngClass]="{'prize-card--green': header.type === 'house', 'prize-card--purple': header.type === 'fashion'}" *ngFor="let projectImage of projectImages" (click)="goToPrizeView(projectImage)">
                    <img [defaultImage]="'./assets/imgs/placeholder.png'" [lazyLoad]="projectImage.image" alt="" class="image--adjust">
                    <div class="labels-image flex-end">
                        <h3 [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--thin">+ Veja mais</h3>
                    </div>
                </div>
            </div>
        
            <h2 [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--large-2 text--centered margin-top-3 margin-bottom-2">VÍDEOS</h2>
            <div class="images-container">
                <div class="prize-card clickable" [ngClass]="{'prize-card--green': header.type === 'house', 'prize-card--purple': header.type === 'fashion'}" *ngFor="let videoImage of videoImages" (click)="viewVideo(videoImage)">
                    <div class="prize-card__video">
                        <img [defaultImage]="'./assets/imgs/placeholder.png'" [lazyLoad]="videoImage.image" alt="" class="image--adjust">
                        <div class="icon-content">
                            <app-vi-svg icon="icon-play2" class="video-play"></app-vi-svg>
                        </div>
                    </div>
                    <div class="labels-video flex-center">
                        <h3 [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--centered" [innerHTML]="videoImage.label" ></h3>
                    </div>
                </div>
            </div>
        </div>
        
        <app-vi-footer></app-vi-footer>

    </div>
    
    
    <app-vi-social></app-vi-social>
    <app-vi-menu class="mobile"></app-vi-menu>
</main>
