<div class="content">
    <div class="header">
        <span class="text text--green text--large text--centered">QUIZ</span> 
    </div>

    <div class="discover-style-card">
        <div class="labels-container">
            <app-vi-svg icon="icon-bullhorn"></app-vi-svg>

            <div class="main-text">
                <span class="text text--green text--centered title">SUA CASA É: 
                    <span class="text text--green text--italic text--centered title"> {{houseType}}</span>
                </span>
                <span class="text text--centered text--normal margin-top-2">Descubra seu Estilo!</span>
    
            </div>
        </div>

        <app-vi-button class="btn-container" [type]="'green'">
            <span class="text text--white">Vamos começar?</span>
        </app-vi-button>
        
    </div>
</div>