<div class="content">
    <div class="header">
        <span class="text text--green text--large text--centered">QUIZ</span> 
    </div>

    <div class="discover-style-card">
        <div class="labels-container">

            <h3 class="main-text">
                <span class="text--centered">
                    <span class="text text--green text--centered title text--large-2">SUA CASA É&nbsp;</span>
                    <span class="text text--green text--italic text--centered title text--large-2">{{houseType}}?</span>
                </span>
                <span class="text text--centered text--green text--normal margin-top-2 text--large-2">Descubra seu Estilo!</span>
            </h3>
        </div>

        <app-vi-button class="btn-container" [type]="'green'">
            <span class="text text--white">Vamos começar?</span>
        </app-vi-button>
        
    </div>
</div>