@import '../../../../../styles.scss';

.content {
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        padding-top: 2em;
    }
    .discover-style-card {
        padding: 2em 1em;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: $color-white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 1em;
        margin-top: 1em;
        border-radius: 5px;
        width: calc(100% - 2em);

        &:hover {
            box-shadow: 0px 12px 20px 0px rgba($color-green, 0.4);
            .title {
                font-weight: 500;
            }
        }

        .labels-container {
            display: flex;
            align-items: center;
            justify-content: center;

            app-vi-svg {
                font-size: 5em;
                color: $color-green;
                margin-right: 0.5em;
            }
    
            .main-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        .btn-container {
            margin-top: 2em;
        }
    }
}

@media only screen and (max-width: 500px) {
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 0em !important;
    }

    .btn-container {
        margin-top: 2em;
    }

    .discover-style-card{
        justify-content: center !important;
    }

    app-vi-svg {
        font-size: 3em !important;
    }
}