@import "../../../styles.scss";

.house-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.house {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
  scroll-behavior: smooth;
}

app-vi-footer {
  width: 100%;
}