<div class="vi-carousel">

    <div class="vi-carousel__display" id="carousel-container">
        <div class="vi-carousel__item" *ngFor="let image of images"
            (swiperight)="move('left')" 
            (swipeleft)="move('right')">

            <div class="before-after-container">
                <div class="before-after-label text" *ngIf="image.sourceAfter">ANTES X DEPOIS</div>
            </div>

            <pinch-zoom>
                <img 
                [src]="image.source" 
                unselectable="on"
                [ngClass]="{'image-before-after': isBeforeAfter(image)}">
            </pinch-zoom>

            <pinch-zoom *ngIf="image.sourceAfter">
                <img [src]="image.sourceAfter" 
                unselectable="on"
                [ngClass]="{'image-before-after': isBeforeAfter(image)}">
            </pinch-zoom>
        </div>
    </div>

    <div class="btns-container" [hidden]="!images || images.length <= 1">
        <app-vi-button [isDisabled]="checkLeftDisabled()" [round]='true' type='white' class="" (onClick)="move('left')">
            <app-vi-svg [ngClass]="{'purple': header.type === 'fashion', 'green': header.type === 'house'}" icon="icon-keyboard_arrow_left"></app-vi-svg>
        </app-vi-button>
        <app-vi-button [isDisabled]="checkRightDisabled()" [round]='true' type='white' class="" (onClick)="move('right')">
            <app-vi-svg [ngClass]="{'purple': header.type === 'fashion', 'green': header.type === 'house'}" icon="icon-keyboard_arrow_right"></app-vi-svg>
        </app-vi-button>
    </div>

</div>