<div class="header desktop">
  
    <div (click)="onClick(item.routeName)" class="clickable header__item" *ngFor="let item of header.items" mat-menu-item>
      <div class="header__item__container">
        <div *ngIf="!item.logo" class="text-container">
          <span [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text text--small unselectable"> {{item.name}} </span>
        </div>
        <div class="logo clickable" (click)="changeVies('main')" *ngIf="item.logo">
          <img class="logo--img" [src]="getMainLogo()">
          <span [ngClass]="{'text--green': header.type === 'house', 'text--purple': header.type === 'fashion'}" class="text margin-left-2 text--disco text--low-large text--bold">
            {{item.logoLabel}}
          </span>
        </div>
        <div class="active" [hidden]="!item.focused" [ngClass]="{'active--green': header.type === 'house', 'active--purple': header.type === 'fashion'}">
        </div>
      </div>

  
      <div class="header__menu" [ngClass]="{'header__menu--green': header.type === 'house', 'header__menu--purple': header.type === 'fashion'}">
        <div class="header__menu__item clickable" *ngFor="let subItem of item.subItems">
          <span class="text text--white text--small unselectable">{{subItem.name}}</span>
        </div>
      </div>
    </div>
  
    <div class="header__item clickable header__social" *ngFor="let social of header.socials">
      <app-vi-svg icon="{{social.name}}" (click)="social.clickEvent()" class="icon" [ngClass]="{'icon--green': header.type === 'house', 'icon--purple': header.type === 'fashion'}"></app-vi-svg>
    </div>
  
    <div class="header__item">
      <div class="logo clickable" (click)="changeVies('secondary')">
        <img class="logo--img" [src]="getSecondaryLogo()">
        <span [ngClass]="{'text--green': header.type === 'fashion', 'text--purple': header.type === 'house'}" class="text margin-left-2 text--disco text--low-large text--bold">
          {{header.getSecondaryLogoLabel()}}
        </span>
      </div>
    </div>

    <app-vi-button *ngIf="header.type === 'house'" type='green' class="budget" (onClick)="navigateToHouse('contato')"> 
      <span class="text text--white">Quero um orçamento</span>
    </app-vi-button>

    <app-vi-button *ngIf="header.type === 'fashion'" type='purple' class="budget" (onClick)="navigateToFashion('contato')"> 
      <span class="text text--white">Quero um orçamento</span>
    </app-vi-button>
  </div>
  