@import ".../../../../../styles.scss";

.header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: $color-white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0 4em;
  justify-content: space-evenly;
  align-items: stretch;
  border-bottom: 1px solid #efefef;

  &__item {
    padding: 0.8em;
    position: relative;
    display: inline-block;
    vertical-align: center;

    .text-container {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  .icon {
    &--green {
        &::before{
            color: $color-green;
          }
          color: $color-green;
    }

    &--purple {
        &::before{
            color: $color-purple;
          }
          color: $color-purple;
    }
}

  .header__item:hover .header__menu {
    display: block;
  }

  &__menu {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0.8em;
    margin-left: -0.8em;
    animation: growing 0.1s ease-in;

    &--green {
        background-color: $color-green;
    }

    &--purple {
        background-color: $color-purple;
    }

    &__item {
      padding: 0.8em;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
    }
  }
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  &--img {
    max-height: 1.8em;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
