<div class="header desktop">
  
    <div (click)="onClick(item.routeName)" class="clickable header__item" *ngFor="let item of header.items" mat-menu-item>
      <div class="header__item__container">
        <div *ngIf="!item.logo" class="text-container">
          <span [ngClass]="{'text--green': type === 'house', 'text--purple': type === 'fashion'}" class="text text--small unselectable"> {{item.name}} </span>
        </div>
        <div class="logo" *ngIf="item.logo">
          <img class="logo--img clickable" [src]="getMainLogo()">
        </div>
        <div class="active" [hidden]="!item.focused" [ngClass]="{'active--green': type === 'house', 'active--purple': type === 'fashion'}">
        </div>
      </div>

  
      <div class="header__menu" [ngClass]="{'header__menu--green': type === 'house', 'header__menu--purple': type === 'fashion'}">
        <div class="header__menu__item clickable" *ngFor="let subItem of item.subItems">
          <span class="text text--white text--small unselectable">{{subItem.name}}</span>
        </div>
      </div>
    </div>
  
    <div class="header__item clickable header__social" *ngFor="let social of header.socials">
      <app-vi-svg icon="{{social.name}}" class="icon" [ngClass]="{'icon--green': type === 'house', 'icon--purple': type === 'fashion'}"></app-vi-svg>
    </div>
  
    <div class="header__item">
      <div class="logo">
        <img class="logo--img clickable" [src]="getSecondaryLogo()">
      </div>
    </div>
  </div>
  