<app-vi-slider id="house-slider" *ngIf="slider.items" [images]="slider.items"></app-vi-slider>
<app-house-presentation></app-house-presentation>
<app-vi-projects id="house-projects" title="PROJETOS"></app-vi-projects>
<app-house-services-session id="house-services-session"></app-house-services-session>
<!-- <app-house-discover-style [hidden]="true" id="house-discover-style"></app-house-discover-style> -->
<app-vi-prize-session id="house-prize-session"></app-vi-prize-session>
<app-vi-testimonials id="house-testimonials"></app-vi-testimonials>
<app-vi-call-to-action type='house' id="house-call-to-action"></app-vi-call-to-action>  
<app-vi-footer></app-vi-footer>
