    <app-vi-slider id="house-slider" *ngIf="slider.items" [images]="slider.items"></app-vi-slider>
    <app-house-presentation></app-house-presentation>
    <app-house-projects id="house-projects"></app-house-projects>
    <app-house-services-session id="house-services-session"></app-house-services-session>
    <app-house-discover-style id="house-discover-style"></app-house-discover-style>
    <app-house-testimonials id="house-testimonials"></app-house-testimonials>
    <app-vi-call-to-action type='house' id="house-call-to-action"></app-vi-call-to-action>  
    <app-vi-footer type='neutral'></app-vi-footer>