<main class="content">

    <app-vi-navigation-header [title]="'Quem Somos'" type='neutral' (onGoBack)="goBackToInitial()" class="mobile"></app-vi-navigation-header>

    <div class="screen">
        <div class="screen-content margin-bottom-2">
            <div class="logo-content">
                <img src="./assets/imgs/logo-vies-horizontal.png" class="logo" alt="">
            </div>
            <h3 class="text margin-3 text--centered label">Há 7 anos projetando espaços residenciais e comerciais. Todos os nossos serviços são personalizados e pensados prezando sempre pelos sonhos e demandas de cada cliente! Atendimentos em Belo Horizonte|MG ou onde você estiver (presencial e online).
            </h3>
        
            <div class="strap-content desktop">
                <div class="strap-horizontal"></div>
        
                <span class="strap-vertical-content">
                    <div class="strap-vertical strap-vertical--green"></div>
                    <div></div>
                    <div class="strap-vertical strap-vertical--purple"></div>
                </span>
            </div>
        
            <div class="cards-container margin-bottom-2">
                <div class="vies-card">
                    <h1 class="text text--large text--green text--centered">
                        <strong class="text text--large text--green text--centered">ambientes</strong>
                        para
                        <strong class="text text--large text--green text--centered">casa</strong>
                    </h1>
        
                    <h1 class="text margin-top-2 text--small text--centered text--thin">
                        Projeto e consultoria para a sua casa utilizando conceitos de design, arquitetura e decoração. Imprimimos no seu lar suas demandas, conforto, funcionalidade, estética, bem-estar e o estilo que você se identifica na decoração!
                    </h1>
                </div>
    
                <div></div>
        
                <div class="vies-card">
                    <h1 class="text text--large text--purple text--centered">
                        <strong class="text text--large text--purple text--centered">ambientes</strong>
                        para
                        <strong class="text text--large text--purple text--centered">negócios</strong>
                    </h1>

                    <span class="text margin-top-2 text--small text--centered text--thin">
                        Projeto e consultoria para ambientes comerciais de todos os setores. Soluções que unem o design, arquitetura e marketing, proporcionando diferenciais e alavancando as vendas do seu negócio!
                        Os serviços de identidade visual, vitrinismo e visual merchandising buscam a personalização e melhorias nas vendas do seu negócio. Além destes serviços, ministramos cursos, treinamentos e wokshops para empresas e eventos.
                    </span>
                </div>
            </div>
        
            <div class="partners-container margin-top-3">
                <span class="text text--large-3">SÓCIAS PROPRIETÁRIAS</span>
        
                <div class="partner-cards-container margin-top-3">    
                    <div class="partner-card">
                        <img [src]="amanda" alt="" class="image-partner">
        
                        <div class="padding-2 text--centered">
                            <span class="text margin-top-2 text--centered text--small">Olá! Sou <strong>Amanda Silveira, </strong>graduada em Design de Interiores e pós graduada em Marketing Estratégico e Branding. Além de atender pela Viés, sou consultora de Design de Ambientes pelo SEBRAE. Tenho formação em estilismo e modelagem e sou professora de vitrinismo na UFMG e na Escola de Moda Denise Aguiar. Minha paixão pela moda e design me faz estar sempre ligada nas tendências destes dois mundos, me permitindo aplicar nos ambientes o que há de melhor para cada cliente!</span>
                        </div>
                    </div>
    
                    <div class="partner-card">
                        <img [src]="marina" alt="" class="image-partner">
                        
                        <div class="padding-2 text--centered">
                            <span class="text margin-top-2 text--centered text--small">Oii! Sou <strong>Marina de Lara, </strong>graduada em Arquitetura e Urbanismo | Design de Interiores, além de atender pela Viés, sou consultora de Design de Ambientes pelo SEBRAE. Amo buscar inspirações e o que há de mais novo em eventos, mostras e exposições de decoração e viagens, onde coleciono novas experiências e diferenciais para aplicar no seu espaço! </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-vi-footer type='neutral'></app-vi-footer>
    </div>

</main>