<div class="house-header desktop">
  <div class="clickable house-header__item" *ngFor="let item of houseHeader.items" mat-menu-item>
    <div *ngIf="!item.logo" class="text-container">
      <span class="text text--green text--small unselectable"> {{item.name}} </span>
    </div>
    <div class="logo" *ngIf="item.logo">
      <img class="logo--img clickable" src="./assets/imgs/logo-casa-horizontal.png" alt="casa">
    </div>

    <div class="house-header__menu">
      <div class="house-header__menu__item clickable" *ngFor="let subItem of item.subItems">
        <span class="text text--white text--small unselectable">{{subItem.name}}</span>
      </div>
    </div>
  </div>

  <div class="house-header__item clickable" *ngFor="let social of houseHeader.socials">
    <app-vi-svg icon="{{social.name}}" class="icon"></app-vi-svg>
  </div>

  <div class="house-header__item">
    <div class="logo">
      <img class="logo--img clickable" src="./assets/imgs/logo-moda-horizontal.png" alt="moda">
    </div>
  </div>
</div>
