<div class="login">
  <div class="main-container">
    <img src="../../../assets/imgs/logo-vies-horizontal.png" alt="" class="img-logo">
    <span class="text margin-top-2 choose">ESCOLHA QUAL SETOR DESEJA</span>

    <div class="buttons-container">

      <div class="sector-container">
        <div class="content">
          <a routerLink="/casa" class="content-image content--green" *ngFor="let image of houseImages">
            <img [src]="image.source" alt="" class="image image--green" [ngClass]="{'transparent': !image.active}">
          </a>
        </div>

        <app-vi-button [type]='"white"' class="margin-top-2">
          <a routerLink="/casa" routerLinkActive="active">
            <span class="text--low-large text--disco text--green text--bold text label-btn">Projetos </span>
            <span class="text--low-large text--disco text--green text--bold text label-btn">Residenciais</span>
          </a>
        </app-vi-button>
      </div>

      <div class="sector-container">
        <div class="content">
          <a routerLink="/negocio" class="content-image content--purple" *ngFor="let image of fashionImages">
            <img [src]="image.source" alt="" class="image image--purple" [ngClass]="{'transparent': !image.active}">
          </a>
        </div>
        <app-vi-button [type]='"white"' class="margin-top-2">
          <a routerLink="/negocio" routerLinkActive="active">
            <span class="text--low-large text--disco text--purple text--bold text label-btn">Projetos </span>
            <span class="text--low-large text--disco text--purple text--bold text label-btn">Comerciais</span>
          </a>
        </app-vi-button>
      </div>

    </div>

    <div class="footer desktop">
      <span class="text text--green text--bold">Belo Horizonte - MG |</span>&nbsp;
      <span class="text text--intermediate text--bold">(31) 3054-7975 |</span> &nbsp;
      <span class="text text--purple text--bold">vies@viesdesign.com.br</span>
    </div>
  </div>
</div>

<app-vi-social></app-vi-social>