<div class="login">
  <div class="main-container">
    <img src="../../../assets/imgs/logo_vies.png" alt="" class="img-logo">

    <div class="buttons-container">
      <app-vi-button (onClick)="goFashion()" [white]='true' class="margin-1">
        <span class="text text--purple text--bold text--large">ambientes </span>&nbsp;
        <span class="text text--purple text--large">para </span>&nbsp;
        <span class="text text--purple text--bold text--large">moda</span>
      </app-vi-button>

      <span class="sided-bar"></span>

      <app-vi-button (onClick)="goHome()" [white]='true' class="margin-1">
        <span class="text text--green text--bold text--large">ambientes </span>&nbsp;
        <span class="text text--green text--large">para </span>&nbsp;
        <span class="text text--green text--bold text--large">casa</span>
      </app-vi-button>
    </div>
  </div>

  <div class="footer">
    <span class="text text--green text--bold">Belo Horizonte - MG |</span>&nbsp;
    <span class="text text--intermediate text--bold">(31) 3054-7975</span><span class="desktop">|</span>  &nbsp;
    <span class="text text--purple text--bold">vies@viesdesign.com.br</span>
  </div>
</div>
