@import "styles/typography";
@import "styles/utilities";
@import "styles/variables";
@import "styles/animations";


html, body { 
    box-sizing: border-box;
    *, *:before, *:after {
        box-sizing: inherit;
    }
}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh !important;
    width: 100vw !important;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
    margin: 0;
}