@import '../../../../../styles.scss';

.house-testimonials {
    padding-bottom: 2em;
    &__header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        padding-top: 2em;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__card {
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin: 1em;
            display: flex;
            height: 440px;
            background-color: $color-white;
            width: 280px;
            flex-direction: column;
            border: 1px solid #d6d6d6;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 12px 20px 0px rgba($color-green, 0.4);
                .name {
                    font-weight: 500;
                }
            }
        

            .image {
                width: 100%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &__labels {
                display: flex;
                flex-direction: column;
                padding: 0 1em;
                flex-grow: 1;
            }

            &__footer {
                width: 100%;
                padding: 1em;
                background-color: $color-green;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                .check {
                    color: $color-white;
                    font-size: 16px;
                    margin-right: 0.5em;
                }
            }
        }
    }
}