<div class="house-projects-header">
    <app-vi-svg icon="icon-keyboard_arrow_left" class="arrow mobile" (click)="move('left')"></app-vi-svg>
    <span class="text text--green text--large text--centered">PROJETOS</span> 
    <app-vi-svg icon="icon-keyboard_arrow_right" class="arrow mobile" (click)="move('right')"></app-vi-svg>
</div>

<div class="house-projects">
    <div class="house-projects__container">
        <div *ngFor="let image of images" class="card" [hidden]="!image.active">
            <img [src]="image.source" alt="" class="card__image">
            <div class="description">
                <div class="description__content">
                    <span class="text text--green text--small-2 text--bold text--centered">{{image.description}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="house-projects__button-left desktop" (click)="move('left')">
        <div class="buttom-menu">
            <app-vi-svg icon="icon-keyboard_arrow_left"></app-vi-svg>
        </div>
    </div>

    <div class="house-projects__button-right desktop" (click)="move('right')">
        <div class="buttom-menu">
            <app-vi-svg icon="icon-keyboard_arrow_right"></app-vi-svg>
        </div>
    </div>
</div>
